{% extends 'forms.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<section class="base" id="base-signup">
    <div class="base-content">
        <div class="form">
            <h3>
                Zaloguj się <br>
            </h3>
            
            <hr class="first">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email"><h4>Adres email</h4>{{ form.email }} <hr> </div>
                <div class="password"><h4>Hasło</h4>{{ form.password }} <hr></div>

                <div class="buttons">
                    <a href="/sign-up">Rejestracja</a>
                    {{ form.submit() }}
                </div>


            </form>
        </div>
    </div>
</section>


{% endblock %}