{% extends 'base.html' %}

{% block title %} Zamówienia {% endblock %}

{% block body %}

<div class="container my-5">

    <div class="row">
        {% if orders %}

        <h1 class="text-center mb-5" style="color: green;">Zamówienia</h1>
        <div class="col-sm-13">
            <div class="card">
                <div class="card-body">
                    <div class="text-right mb-3">
                        <a href="{{ url_for('views.export_orders') }}" class="btn btn-primary">Eksportuj do XML</a>
                    </div>
                    {% for item in orders %}

                    <div class="row">
                        <div class="col-sm-3 text-center align-self-center">
                            <img src="{{ item.product.product_picture }}" alt="" class="img-fluid img-thumbnail shadow-sm" height="150px" width="150px">
                        </div>
                        <div class="col-sm-7">

                            <h3>{{ item.product.product_name }}</h3>
                            <p class="mb-2 text-muted small">Ilość {{ item.quantity }}</p>
                            <p class="mb-2 text-muted small">Cena PLN {{ item.price }}</p>


                            <div class="col-sm-4">
                                <p>Status:  {{ item.status }}</p>
                                {% if item.status == 'W trakcie' %}
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 20%;"  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                {% elif item.status == 'Zaakceptowane' %}
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 40%;"  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                {% elif item.status == 'Wysłane' %}
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;"  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                {% elif item.status == 'Dostarczone' %}
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                {% elif item.status == 'Anulowane' %}
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <hr class="text-muted">
                    {% endfor %}
                </div>
            </div>
        </div>

        {% else %}
        <h1 class="text-center mb-5" style="color: green;">Brak zamówień</h1>

        {% endif %}
    </div>

</div>

{% endblock %}